* {
  transition-duration: 200ms;
  transition-property: background-color, color;

  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    transition-duration: 0s;
  }
}

:root {
  // color-scheme: light dark;
  color-scheme: var(--color-scheme, light);
    
  /* page preference is "dark" */
  &:has(#color-scheme option[value="dark"]:checked) {
    --color-scheme: dark;
    /* any additional dark styles */
  }
  /* page preference is "system", and system preference is "dark" */
  @media (prefers-color-scheme: dark) {
    &:has(#color-scheme option[value="system"]:checked) {
      --color-scheme: dark;
      /* any additional dark styles, again */
    }
  }
}

@font-face {
  font-family: "Iosevka";
  src: url("/assets/fonts/Iosevka-Regular.ttf");
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
} 

.d-flex {
  display: flex;
}

.gap-3 {
  gap: 1rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}
