---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
<div style="display: flex; margin-bottom: 0.5em; ">
  <style>
    .fade:hover {
      background-color: #888;
      border-color: #888;
      transform: translate(0px, -2px);
    }

    .tag {
      padding: 0.5em;
      margin-right: 0.5em;
      background-color: #555;
      border: 1px solid #555;
      border-radius: 0.5em;
      transition: all 0.20s ease-in-out; 
    }

  </style>
  {% for tag in page.tags %}
    <a href="/tags/{{ tag }}" class="fade tag" style="text-decoration: none; color: white;">
      #{{tag}}
    </a>
  {% endfor %}
</div>
{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
